apiVersion: v1
kind: Service
metadata: 
  labels:
    app.kubernetes.io/name: frontend-service
    app.kubernetes.io/part-of: app-frontend
  name: frontend-service
  namespace: dev
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/part-of: app-frontend 
status:
  loadBalancer: {}
