apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/name: haproxy
    app.kubernetes.io/part-of: app-haproxy
  name: haproxy
  namespace: dev
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: haproxy
    app.kubernetes.io/part-of: app-haproxy
status:
  loadBalancer: {}
