apiVersion: route.openshift.io/v1
kind: Route
metadata: 
  name: haproxy
  namespace: dev
spec:
  port:
    targetPort: 8080
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: haproxy
    weight: 100
  wildcardPolicy: None 
